

h1 {
	font-family: 'Roboto', sans-serif;
	float:center;
	font-size: 48px;
}

#cardpanel {
	float:center;
}
#infopanel {
	font-family: 'Roboto', sans-serif;
	background-color:#eeeeee;
	height:400px;
	width:150px;
	float:right;
}
