

h1 {
	font-family: 'Roboto', sans-serif;
	float:center;
	font-size: 48px;
	font-weight:400;
}

#cardpanel {
	text-align:center;
	font-size:20px;
}
#infopanel {
	font-family: 'Roboto', sans-serif;
	background-color:#eeeeee;
}
